{
	"Listen": 		":https",
	"DefaultAccessKey":  "yours3accesskey",
	"DefaultSecretKey":  "yours3secret",
	"TLSCertificateDir": "cert",
	"TmpDir":       "tmp", 
	"CacheDir":     "cache",
	"CacheSize":    40000000000,
	"DatabaseDir": "db",
	"FreeSpaceBatchSizeInBytes": 2000000000,
	"Secret": "",
	"SigRequired":	false
	"Hosts": {
		"example.org": { "Bucket": "yourS3bucketname", "Path": "site1", "AccessKey": "", "SecretKey": "" },
		"example.com": { "Bucket": "yourS3bucketname", "Path": "site2", "AccessKey": "", "SecretKey": "" }
	}
}
